PORT=3001
MONGO_URI=mongodb+srv://usuario:senha@cluster.mongodb.net
MONGO_DB_NAME=minuta
MONGO_COLLECTION_NAME=obrigado
MONGO_PEOPLE_COLLECTION_NAME=people
FIREBASE_PROJECT_ID=apenas-para-dizer
CORS_ORIGINS=https://apenas-para-dizer-web.vercel.app,https://anderson-obrigado.vercel.app,http://localhost:5173,http://127.0.0.1:5173
